includes:
  - ./../vendor/phpstan/phpstan-phpunit/extension.neon
  - ./../vendor/phpstan/phpstan-phpunit/rules.neon
  - ./../vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  phpVersion: 80600
  level: 0
  paths:
    - ./../bin/console
    - ./../src
    - ./../scripts
    - ./../tests

  bootstrapFiles:
    - ./../vendor/autoload.php
